* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aboutMain {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.collapseAboutContainer {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    width: 73%;
    margin: 0 auto;
}

.collapsePosition {
    margin-bottom: 30px;
}