.main {
    padding: 0;
    box-sizing: border-box;
}

.sliderContainer {
    max-width: 1240px;
    height: 200px;
    background-color: aquamarine;
    margin: 0 auto;
}

.collapseApartmentContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:80px;
    max-width: 1240px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
