.collapse {
display: block;
width: 100%;
max-width: 1440px;
margin: 30px auto;
overflow: hidden;
}

.collapseOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    margin:auto;
    padding: 0 15px;
    border-radius: 5px;
    background-color:#ff6060;
    overflow: hidden;
}

.collapseTitle {
    font-size: 25px;
    color: #ffffff;
}

.collapseIcon {
    display: flex;
    position:relative;
    font-size: 25px;
    color: #ffffff;
    background-color: #ff6060;
    border: none;
}

.rotateOpeningIcon {
    animation: on 0.5s forwards;
}

@keyframes on {
    from {rotate: 180deg;}
    to {rotate: 0deg;}
}

.rotateClosingIcon {
    animation: off 0.5s forwards;
}

@keyframes off {
    from {rotate: 180deg;}
    to {rotate: 360deg}
}

.collapseContent {
    position: relative;
    z-index: -1;
    width: 80%;
    max-width: 1440px;
    min-height: 30px;
    height: 100px;
    margin: auto;
    border-radius: 5px;
    background-color:#f6f6f6;
    overflow: hidden;
}

.appearanceContent {
    animation: appearance 0.5s forwards
}

@keyframes appearance {
    from {margin-top: -100px}
    to {margin-top: 0;}
}

.disappearanceContent {
    animation: disappearance 0.5s forwards
}

@keyframes disappearance {
    from {margin-top: 0}
    to {margin-top: -100px;}
}