/* .starsContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 200px;
    width: 100%;
    height: 36px;
} */

.starsContainer i {
    padding: 0;
    margin: 0;
}

.starObtained{
    font-size: 24px;
    color:#ff6060;
}

.starNoObtained {
    font-size: 24px;
    color: #e3e3e3;
}

