.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 25px;
    margin-right: 10px;
    border-radius: 25px;
    font-family:"Montserrat"; 
    font-size: 11px;
    color: #ffffff;
    background-color: #ff6060;
}

@media screen and (max-width:767px) and (min-width:320px) { 
    .tag {
    font-size: 8px;
    }
}